@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using EmprendeUCR.Application.PaymentInfos;
@using EmprendeUCR.Domain.PaymentInfos.Entities;
@using EmprendeUCR.Domain.PaymentMethods.Entities;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs

@inject NavigationManager NavigationManager
@inject ISinpeMovilPaymentInfoService SinpeMovilPaymentInfoService
@inject IPaymentInfoService PaymentInfoService
@inject IHasPaymentInfoService HasPaymentInfoService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@inherits SinpeMovilPaymentInfoEntrepreneurBase

<div style="margin: 20px">
    <div style="display: flex; justify-content: space-between">
        <b>SINPE Móvil</b>
        @if (PaymentMethodDisabled)
        {
            <label>Estado: Desactivado</label>
        }
        else
        {
            <label>Estado: Activado</label>
        }
        <SfButton OnClick="ShowAddSinpePhoneNumberDialog" Disabled="@PaymentMethodDisabled">Agregar</SfButton>
    </div>
    <div style="margin-top: 10px">
        <SfGrid ID="SinpeMovilGrid" @ref="SinpeMovilPaymentInfoGrid" AllowSelection="false" AllowSorting="true" DataSource="@_sinpeMovilPaymentInfoList">
            <GridEditSettings AllowEditing="true" AllowEditOnDblClick="false" AllowDeleting="true"></GridEditSettings>
            <GridEvents CommandClicked="SinpeMovilCommandClicked" TValue="SinpeMovilPaymentInfo"></GridEvents>
            <GridColumns>
                <GridColumn Field=@nameof(SinpeMovilPaymentInfo.Phone_Number) HeaderText="Número de teléfono" IsPrimaryKey="true"></GridColumn>
                <GridColumn TextAlign="TextAlign.Center" Width="125">
                    <GridCommandColumns>
                        <GridCommandColumn Title="Eliminar" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-delete", CssClass = "e-flat", Content = "Eliminar" })"></GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>
            </GridColumns>
            <GridTemplates>
                <EmptyRecordTemplate>
                    <span>No existen datos registrados</span>
                </EmptyRecordTemplate>
            </GridTemplates>
        </SfGrid>
    </div>
</div>
<style>
    .e-btn {
        background: #145DA2;
        color: #ffffff;
    }
    .e-btn:focus {
        background: #145DA2;
        color: #ffffff;
    }
</style>

<SfDialog ID="addSinpeMovilInfoDialog" IsModal="true" Width="300px" @bind-Visible="@AddSinpePhoneNumberDialogVisible">
    <DialogTemplates>
        <Header>
            Agregar SINPE Móvil
        </Header>

        <Content>
            <div class="control-label">
                Número de teléfono
            </div>
            <SfMaskedTextBox Mask="0000-0000" @bind-Value="@AddedNumber"></SfMaskedTextBox>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Agregar" IsPrimary="true" OnClick="@AddSinpePhoneNumber" Disabled=@AddDisabled />
        <DialogButton Content="Cancelar" IsPrimary="true" OnClick="@CloseAddSinpePhoneNumberDialog" />
    </DialogButtons>
</SfDialog>
<style>
    .control-label {
        padding: 10px 0px 10px 0px;
    }
</style>

<SfDialog ID="confirmationDialog" IsModal="true" Width="300px" @bind-Visible="@ConfirmationDialogVisible">
    <DialogTemplates>
        <Header>
            Eliminar información de pago
        </Header>
        <Content>
            Está seguro(a) que desea eliminar la información de pago?
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Aceptar" IsPrimary="true" OnClick="@RemovePaymentInformation" />
        <DialogButton Content="Cancelar" IsPrimary="true" OnClick="@CloseConfirmationDialog" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter]
    public string emailToRegister { get; set; } = string.Empty;
    [Parameter]
    public List<HasPaymentInfo> list { get; set; } = new();
    [Parameter]
    public SinpeMovilPaymentMethod paymentMethod { get; set; } = null;
    string Email = "";

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(emailToRegister))
        {
            _sinpeMovilPaymentInfoList = await SinpeMovilPaymentInfoService.GetSinpeMovilPaymentInfosByPaymentInfoIDAsync(list);
            Email = emailToRegister;
        }
        else
        {
            Email = await sessionStorage.GetItemAsync<string>("Email");
            if (Email != null)
            {
                _sinpeMovilPaymentInfoList = await SinpeMovilPaymentInfoService.GetSinpeMovilPaymentInfosByPaymentInfoIDAsync(list);
            }
        }
        if (paymentMethod == null)
        {
            PaymentMethodDisabled = true;
        }
        else
        {
            PaymentMethodDisabled = !paymentMethod.Status;
        }
    }

    protected async void AddSinpePhoneNumber()
    {
        AddSinpePhoneNumberDialogVisible = false;
        await AddSinpeMovilInfoAndClose();
        AddedNumber = "";
        StateHasChanged();
    }

    protected async Task AddSinpeMovilInfoAndClose()
    {
        SinpeMovilPaymentInfo sinpeMovilPI = await SinpeMovilPaymentInfoService.GetSinpeMovilPaymentInfoByIdAsync(int.Parse(AddedNumber));
        int PaymentInfoID;
        if (sinpeMovilPI != null)
        {
            PaymentInfoID = sinpeMovilPI.Payment_Info_ID;
            await AddSinpeMovilInfo(PaymentInfoID);
        }

        else
        {
            PaymentInfo? PaymentInfo = await PaymentInfoService.AddPaymentInfoAsync();
            if (PaymentInfo != null)
            {
                PaymentInfoID = PaymentInfo.ID;
                if (paymentMethod != null)
                {
                    sinpeMovilPI = new SinpeMovilPaymentInfo(int.Parse(AddedNumber), PaymentInfoID, paymentMethod.Name);
                    await SinpeMovilPaymentInfoService.AddPaymentInfoAsync(sinpeMovilPI);
                    await AddSinpeMovilInfo(PaymentInfoID);
                }
            }
        }
    }

    private async Task AddSinpeMovilInfo(int PaymentInfoID)
    {
        HasPaymentInfo HasPaymentInfo = new HasPaymentInfo(Email, PaymentInfoID);
        await HasPaymentInfoService.AddHasPaymentInfoAsync(HasPaymentInfo);
        list.Add(HasPaymentInfo);
        _sinpeMovilPaymentInfoList = await SinpeMovilPaymentInfoService.GetSinpeMovilPaymentInfosByPaymentInfoIDAsync(list);
    }

    protected async Task RemovePaymentInformation()
    {
        await PaymentInfoService.RemovePaymentInfoAsync(PaymentInfoIdToRemove);
        var itemToRemove = list.SingleOrDefault(r => r.Payment_Info_ID == PaymentInfoIdToRemove);
        if (itemToRemove != null)
            list.Remove(itemToRemove);
        _sinpeMovilPaymentInfoList = await SinpeMovilPaymentInfoService.GetSinpeMovilPaymentInfosByPaymentInfoIDAsync(list);
        CloseConfirmationDialog();
        StateHasChanged();
    }
}